body{
    width: 100%;
    margin: 0;
    background-color: cadetblue;
}

.main-wrapper{
    width: 1035px;
    background-color: aquamarine;
    margin: auto;
}

h1, h2, h3, h4, p{
    font-family: Georgia, 游明朝, YuMincho, "Hiragino Mincho ProN", Meiryo, serif;;
}


/* ここからheader */

.header-box{
    background-color: darkblue;
    margin-top: 62px;
}

h1{
    font-family: Georgia;
    font-size: 36px;
    margin-bottom: 0;
}

.header-contents{
    background-color: white;
    display: flex;
    justify-content: space-between;

}

.header-menu{
    background-color: darkgoldenrod;
    width: 500px;
    padding-left: 0;
}

.header-text{
    margin: 0;
    font-size: 18px;
    

}

.header-menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
}

.down-arrow{
    margin-bottom: 3px;;
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 1px solid;
    border-color:  transparent transparent #565656 #565656;
    transform: rotate(-45deg);
}

/* ここからmainコンテンツ */

.main-first-box{
    margin-top: 80px;

}

.main-img{
    
    background-image: url(images/header-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 1035px;
}

.main-catchy-phrase{
    margin-top: 90px;
    font-size: 27px;
    font-weight: 10;
    line-height: 1.8;

}


/* ここからブログ投稿表示部分 */




