body{
    width: 100%;
    margin: 0;
}

.main-wrapper{
    width: 1035px;
    margin: auto;
}

h1, h2, h3, h4, p{
    font-family: Georgia, 游明朝, YuMincho, "Hiragino Mincho ProN", Meiryo, serif;;
}

a{
    text-decoration: none;
    color: black;
}


/* ここからheader */

.header-box{
    margin-top: 62px;
}

h1{
    font-family: Georgia;
    font-size: 36px;
    margin-bottom: 0;
}

.header-contents{
    background-color: white;
    display: flex;
    justify-content: space-between;

}

.header-menu{
    width: 500px;
    padding-left: 0;
    padding-right: 25px;
}

.header-text{
    margin: 0;
}

.header-text-theme{
    font-size: 19px;
    letter-spacing: -0.7px;
    color: #666;

}

.header-text-menu{
    margin: 0;
    font-size: 15px;
}


.header-menu > ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
}

.down-arrow{
    margin-bottom: 3px;;
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 1px solid;
    border-color:  transparent transparent #565656 #565656;
    transform: rotate(-45deg);
}


.homemenu{
    position: relative;
    padding-left: 0;
}

.submenu{
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    border: 1px solid #eee;
    display: none;
    list-style: none;
    padding-left: 20px;

}

.submenu2{
    background-color: white;
    position: absolute;
    width: 200px;
    display: none;
    list-style: none;
    padding-left: 0;
    transition-duration: 1s;
}

.submenu2-inside{
    padding: 10px 20px;
    border: 1px solid #eee;
}


.sub1:hover .submenu{
    display: block;
} 

.sub2:hover .submenu2{
    display: block;
} 

/* ここからmainコンテンツ */

.main-first-box{
    margin-top: 80px;

}

.main-img{
    
    background-image: url(images/header-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 1035px;
}

.main-catchy-phrase{
    margin-top: 90px;
    font-size: 27px;
    font-weight: 10;
    line-height: 1.8;
    color: #777;

}


/* ここからブログ投稿表示部分 */


.blog-post-main-wrapper{
    width: 1035px;
    margin-top: 110px;
}

.blog-post-box{
    display: flex;
    margin-bottom: 53px;
}

.blog-date{
    width: 335px;
}

.blog-date p{
    margin-top: 8px;
    font-size: 17px;
    color: #999;
}

.blog-post{
    width: 700px;
}

.blog-title{
    margin-top: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    letter-spacing: 0.2px;
}

.blog-content{
    font-size: 17px;
    line-height: 1.8;
    letter-spacing: -0.1px;
    color: #666;
}

.blog-next-box{
    margin-top: 5px;
    height: 48px;
    width: 255px;
    background-color: white;
    display: flex;
    justify-content: space-between;

}

.number-box{
    height: 46px;
    width: 45px;
    border: 1px solid #ccc;
}

.number-text{
    vertical-align: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.number-box-next{
    height: 46px;
    width: 83px;
    border: 1px solid #ccc;
}

.number-text-next{
    text-align: center;
    margin-top: 10px;
}

hr{
    border-color: #eee;
    margin-bottom: 3px;
}


/* ここからfooter */

.first-footer-wrapper{
    width: 1035px;
    height: 380px;
    padding-top: 70px;
    display: flex;
}

.profile-box{
    width: 260px;
    padding-right: 75px;
}

.profile-first-box{
    display: flex;
    width: 260px;

}

.profile-photo{
    background-image: url(images/profile-img.png);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.profile-info{
    font-weight: 700;
    width: 130px;
    padding-left: 20px;
    padding-top: 3px;
}

.profile-info p{
    margin-bottom: 10px;
    font-size: 20px;

}

.profile-sns-box{
    width: 90px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    color: #999;
}

.profile-second-box p{
    font-size: 18px;
    margin-top: 20px;
    letter-spacing: -1.1px;
    line-height: 1.6;
    color: #666;
}

.footer-title{
    margin-top: 0;
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 30px;
}

.footer-right{
    width: 213px;
}


.footer-right-text{
    font-size: 15px;
    margin-top: 0;
    letter-spacing: 0.9px;
    line-height: 1.75;
    color: #666;
}

.recent-posts{
    margin: 0 40px 0 39px;
    width: 193px;
}


.footer-link{
    letter-spacing: 1px;
    text-decoration: none;
    color: #666;
    border-bottom: solid 1px #ddd;
}

.date-footer{
    margin-top: 5px;
    letter-spacing: -1px;
    color: #999;
}

.categories{
    width: 214px;

}


.search-box{
    margin-top: 95px;
}

.form-text{
    font-size: 16px;
    padding: 10.130px;
    width: 191px;
}

/* ここから2つ目のfooter */
.second-footer-wrapper{
    width: 1035px;
    height: 110px;
    padding-top: 60px;
}

.second-footer-box{
    height: 25px;
    display: flex;
}

.footer-sns-box{
    width: 110px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    color: #999;
}

.footer-copyright p{
    margin-top: 0;
    margin-left: 225px;
    letter-spacing: -0.1px;
    color: #999;
}